build --incompatible_strict_action_env
build --incompatible_default_to_explicit_init_py
build --@rules_python//python/config_settings:bootstrap_impl=script

common --spawn_strategy=local
common --repo_env=CUTLASS_DSL_CUDA_LINE=cu13
common:cu12 --repo_env=CUTLASS_DSL_CUDA_LINE=cu12
common:cu13 --repo_env=CUTLASS_DSL_CUDA_LINE=cu13

test --test_tag_filters=-gpu
test:gpu --test_tag_filters=gpu
test:gpu --test_env=CUDA_VISIBLE_DEVICES
test:gpu-strict --config=gpu
test:gpu-strict --spawn_strategy=linux-sandbox
